<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input name="name" placeholder="Name" type="text">
        <input name="score" placeholder="Score" type="number" min="1" max="100">
        <input type="Submit" value="Add Score">
    </form>
    <table style="border: 1px solid black">
       <tr>
            <th style="border: 1px solid black">Name</th>
            <th style="border: 1px solid black">Score</th>
            <th style="border: 1px solid black;">edit</th>
            <th style="border: 1px solid black;">delete</th>
        </tr>
        {% for student in students %}
        <tr>
            <td style="border: 1px solid black">{{ student['name'] }}</td>
            <td style="border: 1px solid black">{{ student['score'] }}</td>
            <td>
                <a href="/edit/{{ student['id']}}">Edit</a>
                
            </td>
            <td> 
                <a href="/delete/{{ student['id']}}"
                onclick="return confirm('apakah anda yakin akan menghapus')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>